Dhaka Resturant workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are a smart food ordering assistant for \"Dhaka Restaurant\".  \n\nRules:  \n\n1. When a user sends their first message (like hi, hello), reply with:  \n\"Welcome to Dhaka Restaurant 🍽️  \nHow can I help you today?  \n- 🛒 Place an order  \n- ℹ️ FAQ / Information  \n- 📦 Check order / stock\"  \n\n(👉 Keep the tone friendly like a food delivery app, not like a product e-commerce site)  \n\n2. If user wants *order*:  \n- Ask step by step: name, food item, quantity  \n- Check Inventory sheet before confirming  \n   - If available → \"Your order for *[item]* (x quantity) is confirmed ✅\"  \n   - If not available → \"Sorry, *[item]* is out of stock ❌. Available options: [list items]\"  \n- Only confirmed orders go into the Orders sheet  \n- In Orders sheet always include:  \n   Status = Confirmed / Rejected  \n   Description = \"Order accepted (item available)\" OR \"Order rejected (out of stock)\"  \n\n3. If user wants *FAQ*:  \n- Answer short and clear (delivery time, payment method, restaurant hours)  \n\n4. If user wants *check order* or *check stock*:  \n- Ask for food name or order id  \n- Look up in Google Sheets (Orders / Inventory)  \n   - If checking order → reply with status (Confirmed / Rejected / Cancelled / Delivered)  \n   - If checking stock → reply with available quantity of that food  \n   - Also list all *available* food items with quantity if requested  \n\n5. If user wants *cancel order*:  \n- Reply politely:  \n  \"Sorry 🙏 I cannot cancel orders directly.  \n   Please call the restaurant owner first and inform them.  \n   Owner Contact: +880 1788117296\"  \n\n6. Always reply in short text like a normal WhatsApp chat  \n- Do not use **bold** or long paragraphs  \n- Use *stars* only for highlighting words  \n- Keep tone friendly, polite, and food-delivery app style  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "e6a77673-5b24-46b8-93e5-952b403f1a51",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "ff38e4ba-e1a6-4237-a3fe-4669166f796b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GcWYdoxVajvv7j5H",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=// For collecting date {{ $now.format('yyyy-MM-dd hh-mm-ss a') }}  // Simple memory expression for WhatsApp {{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "8fb7eb97-460d-463c-a211-ab815f183def",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PX0BwLMXhImjte_G095858sSzIs4KiXkgm8ezzrE9-M",
          "mode": "list",
          "cachedResultName": "Foods Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PX0BwLMXhImjte_G095858sSzIs4KiXkgm8ezzrE9-M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1342912394,
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PX0BwLMXhImjte_G095858sSzIs4KiXkgm8ezzrE9-M/edit#gid=1342912394"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        592,
        208
      ],
      "id": "4a473963-a607-4064-8364-44b02040e784",
      "name": "Get Inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xvW3Qym5ighnmo0C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PX0BwLMXhImjte_G095858sSzIs4KiXkgm8ezzrE9-M",
          "mode": "list",
          "cachedResultName": "Foods Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PX0BwLMXhImjte_G095858sSzIs4KiXkgm8ezzrE9-M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1711851930,
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PX0BwLMXhImjte_G095858sSzIs4KiXkgm8ezzrE9-M/edit#gid=1711851930"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        464,
        224
      ],
      "id": "294e3535-4b0d-403c-ad3d-e1a48312d746",
      "name": "Get FAQ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xvW3Qym5ighnmo0C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ],
      "id": "74e7cc86-bf3c-4141-8a00-904b682e7a68",
      "name": "WhatsApp Trigger",
      "webhookId": "090354f7-1ecd-4e9c-8817-86944c78cfbd",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "iBWBEnFzUaL1z7Lm",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "859137713944891",
        "recipientPhoneNumber": "+8801788117296",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        528,
        0
      ],
      "id": "b9df1d71-794d-4785-9def-0eeb096163dc",
      "name": "Send message",
      "webhookId": "5ee2cc84-ee45-47ad-b30d-ee1f66e2881a",
      "credentials": {
        "whatsAppApi": {
          "id": "stO53l6KdZuw3dtc",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PX0BwLMXhImjte_G095858sSzIs4KiXkgm8ezzrE9-M",
          "mode": "list",
          "cachedResultName": "Foods Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PX0BwLMXhImjte_G095858sSzIs4KiXkgm8ezzrE9-M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 880595016,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PX0BwLMXhImjte_G095858sSzIs4KiXkgm8ezzrE9-M/edit#gid=880595016"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Name', ``, 'string') }}",
            "Food Item": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Food_Item', ``, 'string') }}",
            "Quantity Ordered": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity_Ordered', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Order Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_Date', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Food Item",
              "displayName": "Food Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity Ordered",
              "displayName": "Quantity Ordered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        352,
        224
      ],
      "id": "644d5742-0f56-4777-89ea-933fa401f3a7",
      "name": "Post Order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xvW3Qym5ighnmo0C",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get FAQ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e4be66da-2c0b-41ef-bbf8-e91adbc75877",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "799b3c78ebec227529404e77b460229bfca6c213b1ca5036955df40f400412bd"
  },
  "id": "2d2wzBxh39Q7qce1",
  "tags": []
}